.left {
	margin: auto;
	display: flex;
	width: 900px;
	flex-wrap: wrap;
	background-color: red;;
}
.right {
	height: 100%;
	/* margin: auto; */
	border-radius: 5px;
	overflow: hidden;
	/* display: flex; */
	width: 200px;
	background-color: green;
}

.page {
	display:flex;
	margin:auto;
	/* background-color: aqua; */
}

.playlist {
	position: absolute;
	top: 0;
	width: 20%;
}

.playlist li {
	margin: 10px;
	line-height: var(--h1);
	border-radius: 5px;
	background-color: var(--tp-black);
	text-align: center;
	position: relative;
	font-size: var(--h4);
	height: var(--h1);
	cursor: pointer;
}

.thumbnail {
	border-radius: 5px;
	box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.13);
	position: relative;
	/* margin: 15px; */
	/* width: 1000px; */
	/* height: auto; */
	/* overflow: hidden; */
	/* cursor: pointer; */
}

.title {
	padding: 3px;
	white-space: normal;
	font-size: var(--h3);
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

.description {
	font-size: var(--h5);
	text-align: center;
}

.text {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}

.more-text {
	background-color: var(--tp-black);
	float: right;
}
